*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  /* overflow: hidden; */
}


/* Home.js */
.homeDiv {
  width: 100%;
  height: 870px;
  background-image: url("/src/img/homepage.png"); /* Поправил путь к изображению */
}


.homeDiv .texts {
  display: flex;
}

.homeDiv p {
  margin-left: 50px;
  font-weight: normal;
  font-size: 40px;
}

.SuzBoshi {
  margin: 50px;
  font-weight: bold;
  font-size: 100px;
}

@media  (min-width: 350px) and (max-width: 440px) {
  .SuzBoshi{
    font-size: 30px;
    margin: 20px;
  }
  .homeDiv .texts{
    flex-direction: column;
  }
  .homeDiv p{
    font-size: 20px;
    margin: 20px;
  }

}


.SuzBoshi:hover{
  /* color:lightseagreen; */
  cursor: pointer;
}


.homeDiv .photo {
  margin-top: 150px;
  margin-right: 150px;
  width:422px;
   height:411.2px;
}
@media (min-width: 350px) and (max-width: 440px){
  .homeDiv .photo{
    margin-top: 20px;
    width:322px;
   height:311.2px;
   margin-left: 50px;
  }
}

.homeDiv .submitButton {
  margin-top: 100px;
  margin-left: 40%;
  color: white;
  background-color: #2BA18B;
  padding: 30px;
  border-radius: 50px;
  border: none;
  font-size: 25px;
  transition: background-color 0.4s ease;
}
.homeDiv .submitButton:hover{
  color: #2BA18B;
  background-color: white;
  border: 1px solid #2BA18B;
}

@media (min-width: 350px) and (max-width: 440px){
  .homeDiv .submitButton{
    margin-top: 100px;
    padding: 20px;
    font-size: 15px;
    margin-left: 22%;
  }
}


/* possibilities */
.beforeHomepage{
  height: 920px;
  background-color: white;

  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 350px) and (max-width: 440px){
  .beforeHomepage{
    height: fit-content;
  }
}

.beforeHomepage h1{
  margin-top: 80px;
  color: #2BA18B;
  font-size: 50px;
  font-weight: bold;
}

@media (min-width: 350px) and (max-width: 440px){
  .beforeHomepage h1{
    font-size: 25px;
  }
}

.beforeHomepage .container {
  font-size: 18px;
  font-weight: 300;
  color: black;
  margin: 50px 50px 0 50px;
  justify-items: center;
}

@media (min-width: 350px) and (max-width: 440px){
  .beforeHomepage .row{
    display: flex;
    flex-direction: column;

  }
}

.beforeHomepage .row {
  display: flex;
}

.beforeHomepage .item {
  margin: 10px;
  height: 200px;
  flex: 1;
  padding: 30px;
  border-radius: 30px;
  transition: box-shadow 0.3s ease;
  /* border: 1px solid #000; */
}

.beforeHomepage .item p {
  margin-top: 30px;
}

.beforeHomepage .item:hover{
  /* box-shadow: 10px 5px 7px #2BA18B; */
  box-shadow: 0px 0px 30px #2BA18B;
  /* border: 2px solid #2BA18B ; */
}



/* skills */
.SkillsDiv{
  height: 800px;
  background-color: #2BA18B;
  display: flex;
  flex-direction: column;

}

.SkillsDiv h1{
  margin:80px 0 0 50px ;
  font-size: 50px;
  font-weight: bold;
}

@media (min-width: 350px) and (max-width: 440px){
  .SkillsDiv h1{
    font-size: 25px;
  }
}

.SkillsDiv li{
  margin:50px 0 0 80px ;
  font-size: 35px;
  font-weight: 400;
}

@media (min-width: 350px) and (max-width: 440px){
  .SkillsDiv li{
    font-size: 20px;
  }
}

.SkillsDiv .submitButton{
  width: 357px;
  height: 89px;
  margin:80px 0 0 40%;
  color: #2BA18B;
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  border: none;
  font-size: 25px;
  transition: background-color 0.4s ease;

}

.SkillsDiv .submitButton:hover{
  color:white ;
  background-color: #2BA18B;
  border: 1px solid white;
}

@media (min-width: 350px) and (max-width: 440px){
  .SkillsDiv .submitButton{
    width: 218px;
    height: 57px;
    font-size: 15px;
    margin:80px 0 0 25%;
  }
}



/* Steps */
.StepsDiv{
  height: 1320px;
  background-color: white;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 350px) and (max-width: 440px){
  .StepsDiv{
    height: fit-content;
  }
}

.StepsDiv h1{
  margin-bottom: 50px;
  color: #2BA18B;
  font-size: 50px;
  font-weight: bold;
}

@media (min-width: 350px) and (max-width: 440px){
  .StepsDiv h1{
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 50px;
  }
}

.StepsDiv h3{
  color: #2BA18B;
  font-size: 30px;
  margin: 20px 0 30px 0;
}

@media (min-width: 350px) and (max-width: 440px){
  .StepsDiv h3{
    font-size: 20px;
  }
}

.StepsDiv .container {
  font-size: 18px;
  font-weight: 300;
  color: black;
  margin: 50px 50px 0 50px;
  justify-items: center;
}

.StepsDiv .row {
  display: flex;
}

@media (min-width: 350px) and (max-width: 440px){
  .StepsDiv .row{
    flex-direction: column;
  }
}

.StepsDiv .item {
  margin: 10px;
  height: fit-content;
  flex: 1;
  border-radius: 30px;
  /* transition: box-shadow 0.3s ease; */
  /* border: 1px solid #000; */
}

.StepsDiv .inside{
  height: 600px;
  padding: 10px;
  background-color: #7ABC93;
  border-radius: 20px;
  color: white;
  transition: box-shadow 0.5ms ease;
}

@media (min-width: 350px) and (max-width: 440px){
  .StepsDiv .inside{
    height: fit-content;
  }
}

.StepsDiv .inside:hover{
  box-shadow: 0px 0px 30px #2BA18B;
  cursor: pointer;
}

.StepsDiv .inside p{
  margin-bottom: 30px;
  text-align: left;
  font-size: 20px;
}
.StepsDiv .inside h4{
  margin: 20px 0 30px 0;
  font-size: 25px;
}

@media (min-width: 350px) and (max-width: 440px){
  .StepsDiv .inside h4{
    margin: 10px 0 20px 0;
  font-size: 18px;
  }
}

.StepsDiv button{
  width: 357px;
  height: 89px;
  margin:80px 0 0 40%;
  color: white;
  background-color: #2BA18B;
  padding: 20px;
  border-radius: 50px;
  border: none;
  font-size: 25px;
  transition: background-color 0.4s ease;

}

.StepsDiv button:hover{
  color:#2BA18B ;
  background-color: white;
  border: 1px solid #2BA18B;
}

@media (min-width: 350px) and (max-width: 440px){
  .StepsDiv button{
    width: 218px;
    height: 57px;
    padding: 10px;
    font-size: 15px;
    margin:50px 0 50px 25%;
  }
}

/* process */
.processDiv{
  height: 800px;
  background-color: #2BA18B;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 350px) and (max-width: 440px){
  .processDiv {
    height: fit-content;
    flex-direction: column;
  }
}

.processDiv .processText{
  margin: 50px;
}
.processDiv h1{
  font-size: 50px;
  margin: 50px 0 40px 0;

}

@media (min-width: 350px) and (max-width: 440px){
  .processDiv h1{
    font-size: 25px;
  margin: 20px 0 20px 0;
  }
  .processDiv .processText{
    margin: 20px;
  }
}

.processDiv li{
  margin-bottom: 50px;
  font-size: 30px;

}

@media (min-width: 350px) and (max-width: 440px){
  .processDiv li{
    margin-bottom: 50px;
    font-size: 20px;
  
  }
}

.processDiv .processPhoto{
  margin-top: 120px;
}

@media (min-width: 350px) and (max-width: 440px){
  .processDiv img{
    display: none;
  }
}


/* map */
.AboutUsDiv{
  color: black;
  height: 910px;
  background-color: white;

  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 350px) and (max-width: 440px){
  .AboutUsDiv{
    height: fit-content;
  }
}

.AboutUsDiv h1{
  color: #2BA18B;
  margin-top: 80px;
  font-size: 50px;
}

@media (min-width: 350px) and (max-width: 440px){
  .AboutUsDiv h1{
    color: #2BA18B;
    margin-top: 50px;
    font-size: 25px;
  }
}


.AboutUsDiv .mapAndAbout{
  margin: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

@media (min-width: 350px) and (max-width: 440px){
  .AboutUsDiv .mapAndAbout{
    flex-direction: column;
    margin: 50px;
  }
}

.AboutUsDiv .mapDiv{
  width: 800px;
  height: 600px;
}

.AboutUsDiv .mapsize{
  width: 100%;
  height: 600px;
}

@media (min-width: 350px) and (max-width: 440px){
  .AboutUsDiv .mapDiv{
    width: 400px;
    height: 300px;
  }
  .AboutUsDiv .mapsize{
    height: 300px;
  }
}

.AboutUsDiv p{
  position: relative;
  margin-top: 20px;
  text-align: left;
  font-size: 35px;

}

@media (min-width: 350px) and (max-width: 440px){
  .AboutUsDiv p{
    position: relative;
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
  
  }
}

.AboutUsDiv p:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; /* Расстояние между текстом и линией */
  width: 100%;
  height: 1px; /* Толщина линии */
  background-color: black; /* Цвет линии */
}

.AboutUsDiv img{
  margin: 50px;
}

.rounded-map-container {
  border-radius: 15px; 
  overflow: hidden; 
}


footer{
  width: 100%;
  height: 190px;
  background-image: url(/src/img/homepage.png);
  /* background-color: #C9C9C9; */

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer img{
  margin: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

@media (min-width: 350px) and (max-width: 440px){
  footer img{
    margin: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  
}

footer img:hover{
  margin-bottom: 20px;
  /* box-shadow: 0px 10px 0px 0px #2BA18B; */
  /* transition: box-shadow 0.3s ease; */
}


/* overlay style */
.overlay__background {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
  font-size: 14pt;
}


.overlay .formDiv{
  display: flex;
  flex-direction: column;
}

.formDiv input{
  margin: 20px;
}

.formDiv .inputText{
  padding: 10px;
  width: 400px;
  border-radius: 10px;
}

@media (min-width: 350px) and (max-width: 440px){
  .formDiv .inputText{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
  }
  
}

.overlay .formAndQrcode{
  width: 100%;
  height: 100%;
  /* background-color: black; */

  display: flex;
  flex-direction: row;
  align-items: center;
}

.formAndQrcode .DivForQrcode{
  width: 100%;
  height: 100%;
 /* background-color: #10443a; */
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.overlay .inputButton{
  padding: 10px;
  width: 424px;
  border-radius: 10px;
  border: none;
  background-color: #2BA18B;
  color: white;
}

.overlay .inputButton:hover{
  background-color: #10443a;
  color: white;
}

.overlay__container {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.976);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  padding: 30px;
  width: 900px;
  height: fit-content;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
}


.overlay__close:after {
  display: inline-block;
  content: "\00d7";
}

.overlay__close {
  border: none;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
}




